<!DOCTYPE html>
<html lang="en">

<head>
    <title>My First Slider</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
  {% include "src/nunjucks/template/slider.njk" %}
	{% include "src/nunjucks/template/dropdown.njk" %}

  <script type="module" src="js/slider.js"></script>
  <script src="js/dropdown.js"></script>
</body>

</html>
