<!DOCTYPE html>
<html lang="en">
<head>
	<title>My First Slider</title>
	<meta charset="utf-8">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div id="slider">
		<button class="btn-left" onclick="prevSlide();"><</button>
		<div id="image"></div>
		<button class="btn-right" onclick="nextSlide();">></button>
	</div>

	<script src="js/main.js"></script>
</body>
</html>
