body {
	margin: 0;
	padding: 0;
	background: #eaeaea;
}
#slider {
	position:relative;
	margin: 100px auto;
	margin-bottom: 0;
	padding: 5px;
	width: 660px;
	height:360px;
}

#image {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border: 2px solid black;
	border-radius:10px;
	background-size: 100% 100%;
	transition:  all  .6s;
}

button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}

.btn-left {
	left:5px;
}

.btn-right {
	right:5px;
}
#pagination {
	margin: auto;
	height: 100px;
	width: 550px;
	justify-content: center;
	display: flex;

}
.dot {
	width: 10px;
	height: 10px;
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.4);
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
}
.dot-active {
	background-color: #ff8f35;
	box-shadow: none;
	transition:all linear .45s;

}
